# Environment variables & secrets
.env
.env.local
*.env
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
# Python virtualenv legacy libs
backend/lib/
backend/lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
ENV/
env/

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ephemeral/

# Android
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/key.properties
**/android/local.properties
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.h
**/ios/Runner/GeneratedPluginRegistrant.m
**/ios/.symlinks
**/ios/Pods
**/ios/Podfile.lock

# IDEs & OS
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
